{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page!</h1>
    <h1>What all can you do here?</h1>
    <h1>1.)Log In</h1>
    <h1>2.)Log Out</h1>
    <h1>3.)Registration for new users</h1>
    <h1>4.)A user can Log In and create a new post by clicking "New Post"</h1>
    <h1>5.)A User can delete his own post</h1>
    <h1>6.)User can update his profile by clicking "Profile"</h1>
    <h1>7.)User can upload his Profile Picture</h1>
    <h1>8.)Pagination tab at last to go to the next Page</h1>
    <h1>9.)A User can update his already present post</h1>
    <h1>10.)Tap on the User name beside the profile picture to view all his posts(In HOME page)</h1>
    <h1>11.)Recently created post appear at the top</h1>
    <h1>12.)All Users will be able to view the posts of other Users in HOME page</h1>
    <h1>13.)Click on the post you like to view the contents</h1>
{% endblock content %}
<!-- 
<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>Django Blog - {{ title }}</title>
        {% else %}
            <title>Django Blog</title>
        {% endif %} 
    </head>
    <body>
        <h1>About Page!</h1>
    </body> 
</html>
-->
